body {
    background-color: #FE9993;
}

.widget {
    display: block;
    margin: auto;
    max-width: 600px;
}

.profile {
    background-color: white;
    padding: 1.5rem;
    border-radius: 4px;
}

.profilePic {
    padding: 0 0 1rem 0;
}

.profilePic img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.profileContent h1 {
    font-size: 1.8rem;
}

.profileContent h1 img {
    width: 25px;
    height: 25px;
}

.profileContent h2 {
    font-size: 1.2rem;
}

.profileContent p {
    color: #D0D0D1;
}

.followButton button {
    width: 100%;
    height: 100%;
    text-transform: uppercase;#D0D0D1
}

.counters h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.post {
    width: 90%;
    background-color: white;
    border-radius: 0 0 4px 4px;
    padding: 35px 50px;
    background: linear-gradient(to bottom, rgba(208, 208, 209, 1), rgba(255, 255, 255, 1) 12px);
}

.post .row {
    padding: 0;
}

.postHeader h1 {
    font-size: 1.2rem;
}

.postHeader .col {
    padding: 0;
}

.postHeader h1 img {
    width: 25px;
    height: 25px;
}

.postHeader span {
    font-size: 0.8rem;
    color: #D0D0D1;
}

p.less {
  position: relative;
  height: 7.2rem;
  overflow: hidden;
}

p.less:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2rem;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 75%);
}

#readButton {
  text-transform: uppercase;
  color: black;
}

#readButton:hover {
  text-decoration: none;
}

.likes:before {
    content: "";
    background: url('../images/baseline-favorite_border-24px.svg') no-repeat;
    width: 24px;
    height: 24px;
    z-index:100000;
    display: inline-block;
    vertical-align: -30%;
    margin: 0 0.2rem 0 0;
}

.retweets:before {
    content: "";
    background: url('../images/baseline-reply-24px.svg') no-repeat;
    width: 24px;
    height: 24px;
    z-index:100000;
    display: inline-block;
    vertical-align: -30%;
    margin: 0 0.2rem 0 0;
}
